
@font-face {
  font-family: 'UniversNextArabic-Regular';
  src: url('UniversNextArabic-Regular.eot?#iefix') format('embedded-opentype'),  url('UniversNextArabic-Regular.woff') format('woff'), url('UniversNextArabic-Regular.ttf')  format('truetype'), url('UniversNextArabic-Regular.svg#UniversNextArabic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
